<launch>
    <include file="$(find kcctslam)/launch/sensor.launch"/>
    <include file="$(find kcctnavigation)/launch/pcl_handler.launch"/>
    <include file="$(find waypoint_tools)/launch/path_display.launch"/>
    <node name="path_tracking" pkg="kcctnavigation" type="path_tracking" output="screen"/>
    <node name="emergency_stoper" pkg="kcctnavigation" type="emergency_stoper" output="screen"/>
</launch>